


body{
  margin: 0;
  padding: 0;
  background: url('images/bg.jpg');
  background-size: cover;
}
.topnav {
  background-color: #D8BFD8	;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #DEB887;
  color: black;
}

.home{
  width: 500px;
  height: 600px;
  background: rgba(0, 0, 0, 0.4);
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.home-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.home h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.home h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}
.home p{
	font-size: 20px;
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.about{
  width: 500px;
  height: 600px;
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.about-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.about h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.about h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.about p{
  text-align: center;
}
.hobbies h1{
	font-size: 60px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.hobbies h3{
	font-size: 60px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.hobbies li{
	font-size: 25px;
	font-family: 'Century Gothic',sans-serif;
	text-align: center;
	width: 400px;
  height: 100px;
  background: rgba(0, 0, 0, 0.1);
    margin: 3%;
}
.hobbies ul{
	text-align: center;
}
.hobbies p{
	font-size: 25px;
	font-family: 'Century Gothic',sans-serif;
	text-align: center;
	width: 1670px;
  height: 400px;
  background: rgba(0, 0, 0, 0.1);
    margin: 3%;
}
.contact{
  width: 500px;
  height: 600px;
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.contact-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.contact H1{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 100;
}
.contact h3{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
}
.contact p{
	font-size: 30px;
  text-align: center;
}

.contact form{
	font-size: 20px;
	color: Black;
	text-align: center;
	margin: auto;
}
.port h1{
	font-size: 50px;
	text-align: center;
}

.gallery-img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 8px;
  width: 500px;
  height: 600px;
  margin: 1%;
  margin-left: 3%; 
}
.skill{
	margin: 35%
}
.skill h3{
	font-size: 60px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.skill th{
	font-size: 40px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.skill td{
	font-size: 40px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.skill tr{
	font-size: 40px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.skill thead{
	font-size: 40px;
	color: Black;
	text-align: center;
	font-family: 'Century Gothic',sans-serif;
}
.content h1{
	  font-size:60px;
	  font-weight:100px;
	  margin-top:20px;
	  color: #512a;
	  margin-bottom: 15px;
	  position: relative;
  }
.button {
	top: 20px;
	font-size:80px;
	  font-weight:100px;
	  margin-top:20px;
	  color: #512a;
	  margin-bottom: 15px;
	  position: relative;
	  text-align: center;
	  
}

	
	
